<?php

return [
    'johncms' => [
        'active'        => 1,
        'antiflood'     => 'a:5:{s:4:"mode";i:2;s:3:"day";i:10;s:5:"night";i:30;s:7:"dayfrom";i:10;s:5:"dayto";i:22;}',
        'clean_time'    => 0,
        'copyright'     => 'Powered by JohnCMS',
        'email'         => 'admin@johncms.com',
        'flsz'          => '16000',
        'gzip'          => 1,
        'homeurl'       => 'http://johncms/johncms',
        'karma'         => 'a:6:{s:12:"karma_points";i:5;s:10:"karma_time";i:86400;s:5:"forum";i:20;s:4:"time";i:0;s:2:"on";i:1;s:3:"adm";i:0;}',
        'lng'           => 'ru',
        'mod_reg'       => 2,
        'mod_forum'     => 2,
        'mod_guest'     => 2,
        'mod_lib'       => 2,
        'mod_lib_comm'  => 1,
        'mod_down'      => 2,
        'mod_down_comm' => 1,
        'meta_key'      => 'johncms',
        'meta_desc'     => 'Powered by JohnCMS http://johncms.com',
        'news'          => '',
        'skindef'       => 'default',
    ],
];
