COMPOSE_PROJECT_NAME=johncms
APP_HOST=johncms.loc
NGINX_HTTP_PORT=
NGINX_HTTPS_PORT=
FORWARD_DB_PORT=
DB_PASSWORD=password
DB_DATABASE=johncms
DB_USERNAME=johncms
NGINX_SERVER_NAME="johncms.loc www.johncms.loc"
