*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.lng   text eol=lf
*.md    text eol=lf
*.php   text eol=lf
*.po    text eol=lf
*.pot   text eol=lf
*.svg   text eol=lf
*.txt   text eol=lf
*.yml   text eol=lf
