# Common ignores
/.idea
/config/autoload/*.local.php
/config/*.local.php
/dist
/distributive
/node_modules
/phpcs.xml
/translate.xml
/system/vendor
/docker/mariadb/data
/public/build/*

# Data folder ignores
/data/debugbar/*
/data/cache/*
!/data/cache/.gitkeep
/data/logs/*
!/data/logs/.gitkeep

# Upload folder ignores
/public/uploads/*
!/public/uploads/index.php
!/public/uploads/.htaccess
