<?xml version="1.0"?>
<psalm
        findUnusedCode="false"
        resolveFromConfigFile="true"
        errorLevel="5"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="config"/>
        <directory name="modules"/>
        <directory name="system"/>
        <ignoreFiles>
            <directory name="modules/johncms/admin"/>
            <directory name="modules/johncms/community"/>
            <directory name="modules/johncms/downloads"/>
            <directory name="modules/johncms/forum"/>
            <directory name="modules/johncms/guestbook"/>
            <directory name="modules/johncms/help"/>
            <directory name="modules/johncms/language"/>
            <directory name="modules/johncms/library"/>
            <directory name="modules/johncms/mail"/>
            <directory name="modules/johncms/notifications"/>
            <directory name="modules/johncms/online"/>
            <directory name="modules/johncms/redirect"/>

            <directory name="system/src-legacy"/>
            <directory name="system/vendor"/>
            <directory name="tests"/>
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="system/vendor/gettext/translator/src/functions.php"/>
    </stubs>

    <issueHandlers>
        <DuplicateClass errorLevel="suppress"/>
        <UndefinedClass>
          <errorLevel type="suppress">
            <referencedClass name="*" />
          </errorLevel>
        </UndefinedClass>
        <UndefinedDocblockClass>
          <errorLevel type="suppress">
            <referencedClass name="*" />
          </errorLevel>
        </UndefinedDocblockClass>
        <LessSpecificReturnType errorLevel="info"/>
    </issueHandlers>
</psalm>
