<?xml version="1.0"?>
<scanRuleset>
    <description>JohnCMS ruleset for PHP code scanner for gettext</description>

    <!-- System -->
    <domain>
        <name>system</name>
        <target>system/locale</target>
        <sourceDir>modules/johncms/language</sourceDir>
        <sourceDir>modules/johncms/notifications</sourceDir>
        <sourceDir>modules/johncms/redirect</sourceDir>
        <sourceDir>system/src</sourceDir>
        <sourceDir>themes/default/templates</sourceDir>
        <sourceDir>themes/admin/templates</sourceDir>
        <sourceFile>system/helpers.php</sourceFile>
    </domain>

    <!-- Admin module -->
    <domain>
        <name>admin</name>
        <target>modules/johncms/admin/locale</target>
        <sourceDir>modules/johncms/admin</sourceDir>
    </domain>

    <!-- Registration module -->
    <domain>
        <name>auth</name>
        <target>modules/johncms/auth/locale</target>
        <sourceDir>modules/johncms/auth</sourceDir>
    </domain>

    <!-- Community module -->
    <domain>
        <name>community</name>
        <target>modules/johncms/community/locale</target>
        <sourceDir>modules/johncms/community</sourceDir>
    </domain>

    <!-- Downloads module -->
    <domain>
        <name>downloads</name>
        <target>modules/johncms/downloads/locale</target>
        <sourceDir>modules/johncms/downloads</sourceDir>
    </domain>

    <!-- Forum module -->
    <domain>
        <name>forum</name>
        <target>modules/johncms/forum/locale</target>
        <sourceDir>modules/johncms/forum</sourceDir>
    </domain>

    <!-- Guestbook module -->
    <domain>
        <name>guestbook</name>
        <target>modules/johncms/guestbook/locale</target>
        <sourceDir>modules/johncms/guestbook</sourceDir>
    </domain>

    <!-- Help module -->
    <domain>
        <name>help</name>
        <target>modules/johncms/help/locale</target>
        <sourceDir>modules/johncms/help</sourceDir>
    </domain>

    <!-- Homepage module -->
    <domain>
        <name>homepage</name>
        <target>modules/johncms/homepage/locale</target>
        <sourceDir>modules/johncms/homepage</sourceDir>
    </domain>

    <!-- Library module -->
    <domain>
        <name>library</name>
        <target>modules/johncms/library/locale</target>
        <sourceDir>modules/johncms/library</sourceDir>
    </domain>

    <!-- Mail module -->
    <domain>
        <name>mail</name>
        <target>modules/johncms/mail/locale</target>
        <sourceDir>modules/johncms/mail</sourceDir>
    </domain>

    <!-- News module -->
    <domain>
        <name>news</name>
        <target>modules/johncms/news/locale</target>
        <sourceDir>modules/johncms/news</sourceDir>
    </domain>

    <!-- Online module -->
    <domain>
        <name>online</name>
        <target>modules/johncms/online/locale</target>
        <sourceDir>modules/johncms/online</sourceDir>
    </domain>

    <!-- Profile module -->
    <domain>
        <name>personal</name>
        <target>modules/johncms/personal/locale</target>
        <sourceDir>modules/johncms/personal</sourceDir>
    </domain>

    <!-- Installation -->
    <domain>
        <name>install</name>
        <target>public/install/locale</target>
        <sourceDir>public/install</sourceDir>
    </domain>
</scanRuleset>
