.content-container {
    background: #ffffff;
    width: calc(100% - 15rem);

    .phdr {
        margin-top: 1rem;
    }
}

.page_layout {
    max-width: 1100px;
    margin: 0 auto;
}

.content-container-padding {
    padding: 0.8rem 0.8rem;

    @media (max-width: 768px) {
        padding: 0.4rem 0 1rem 0;
    }

    @media (max-width: 991px) {
        padding-top: 3.5rem !important;
        .small-full-width {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

.footer-padding {
    padding-top: 0 !important;
}

.page-footer {
    margin: 0.8rem -0.8rem -0.8rem;
    @media (max-width: 768px) {
        margin: 0 0 -0.4rem;
    }
}

.border-radius-12 {
    border-radius: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.to-top {
    position: fixed;
    bottom: 4rem;
    right: 1.7rem;
    transition: all 0.3s;
    @media (max-width: 991px) {
        right: 0.9rem;
        bottom: 4rem;
    }
}

.to-top_hidden {
    visibility: hidden;
    opacity: 0;
    bottom: 0;
}

.to-bottom {
    transform: rotate(180deg);
}

.bbpopup {
    margin-top: 3px;
    margin-bottom: 3px;
}

.bbpopup a {
    border: 1px solid #a7a7a7;
    height: 15px;
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    width: 15px;
}

.text-underline {
    text-decoration: underline;
}

.links-underline {
    a {
        text-decoration: underline;
    }
}

@media (max-width: 350px) {
    .forum-view-counter {
        display: none;
    }
}

.break-word {
    word-break: break-word;
}

@media (max-width: 768px) {
    .full-mobile-width {
        margin-left: -15px;
        margin-right: -15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.p-no-margin {
    p {
        margin-bottom: 0.8rem;
    }

    blockquote {
        overflow: hidden;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        border-left: solid 5px hsl(0, 0%, 80%);

        p {
            margin-bottom: 0;
        }
    }

    &[dir="rtl"] {
        blockquote {
            border-left: 0;
            border-right: solid 5px hsl(0, 0%, 80%);
        }

    }
}

figure {
    &.table {
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            border: 1px double #b3b3b3;
        }

        th {
            font-weight: 700;
            background: hsla(0, 0%, 0%, 0.05);
            padding: .4em;
            border: 1px solid #bfbfbf;
            border-bottom: none;
        }

        td {
            border: 1px solid #bfbfbf;
            padding: .4em;
        }
    }

    &.image {
        img {
            max-width: 100%;
        }
    }
}
