.content-container {
    width: calc(100% - 17rem);
}


.content-container-padding {
    padding: 0.8rem 0.8rem;

    @media (max-width: 768px) {
        padding: 0.4rem 0;
    }

    @media (max-width: 991px) {
        padding-top: 3.5rem !important;
        .small-full-width {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

.border-radius-12 {
    border-radius: 12px;
}

.cursor-pointer {
    cursor: pointer;
}
