.btn-info {
  color: $white;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-outline-info {
  &:hover {
    color: $white;
  }
}

.btn-outline-secondary {
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-outline-danger {
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
}

.btn-lg-icon {
  .icon {
    width: 25px;
    height: 31px;
  }
}

.btn__top {
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.btn__transparent {
  background: transparent;
}

.btn {
  &:disabled {
    cursor: not-allowed;
  }

  &.liked {
    color: #036a0c;
  }

  &.disliked {
    color: #ff0000;
  }
}
