.content-container {
  background: rgba(23, 23, 23, 0.98);
}

.sidebar a {
  color: #fff;
}

.list-group {
  --bs-list-group-bg: #2c2c2c;
  --bs-list-group-color: #fff;
}

.post-item {
  background: transparent;
  border-bottom: 1px solid var(--bs-border-color);
}

.forum-section {
  border-bottom: 1px solid var(--bs-border-color);
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}


// Alerts
.alert-success {
  --bs-alert-color: #b2f7e0;
  --bs-alert-bg: #20483e;
  --bs-alert-border-color: #337d68;
}

.alert-info {
  --bs-alert-color: #738ca5;
  --bs-alert-bg: #1c2d40;
  --bs-alert-border-color: #21364c;
}

.alert-danger {
  --bs-alert-color: #ee8277;
  --bs-alert-bg: #74261e;
  --bs-alert-border-color: #8b2e24;
}

.alert-warning {
  --bs-alert-color: #f7ba59;
  --bs-alert-bg: #7a4e09;
  --bs-alert-border-color: #925e0b;
}


// Modals
.modal-content {
  --bs-modal-bg: rgb(33, 33, 33);
}

.dropdown-menu {
  --bs-dropdown-bg: rgb(52, 52, 52);
  --bs-dropdown-link-color: #fff;
  --bs-dropdown-link-hover-bg: #515151;
  --bs-dropdown-link-hover-color: #fff;
}

// Inputs
label {
  color: #cecece;
}

.form-control {
  background: #222;
  border: 1px solid #515151;
  color: #b1b1b1;
}


// User
.post-user .user-name {
  color: #fff;
}

.section-header .section-name {
  color: #fff;
}

.card {
  --bs-card-bg: #1e1e1e;
}

.like-btn {
  --bs-btn-color: #898989;
}

.pagination {
  --bs-pagination-color: #d0d0d0;
  --bs-pagination-bg: #1c1c1c;
  --bs-pagination-border-color: #2c2c2c;

  --bs-pagination-hover-color: #fff;
  --bs-pagination-hover-bg: #333333;
  --bs-pagination-hover-border-color: #3d3d3d;

  --bs-pagination-focus-color: #fff;
  --bs-pagination-focus-bg: #2a2a2a;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);

  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #66615b;
  --bs-pagination-active-border-color: #66615b;

  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: rgb(41, 41, 41);
  --bs-pagination-disabled-border-color: #2a2a2a;
}

.post-user {
  a {
    --bs-link-color: #b8b8b8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .user-name {
    color: #b8b8b8;
  }
}

.new_post-item {
  .post-title {
    color: #dddddd;
  }
}

.btn-close {
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ccc' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E") 50% / 1em auto no-repeat;
}

.top_nav {
  background: #0c0c0c;
}

.sidebar {
  background: #0c0c0c;
  border-right: 1px solid var(--bs-border-color);
}

.btn__top {
  --bs-btn-bg: #515151;
  --bs-btn-color: #e8e8e8;
  --bs-btn-hover-bg: #919191;
}

.counter-badge {
  background: #515151;
  color: #fff;
}

blockquote {
  background-color: rgb(48, 48, 48);
}
