.icon {
    width: 24px;
    height: 24px;
}

.icon-40 {
    width: 40px;
    height: 40px;
}

.icon-flag {
    margin: -3px 0 0 0;
}

.guest-book-icon {
    height: 22px;
    width: 22px;
}

.icon-chevron-bottom {
    height: 10px;
    width: 10px;
}


.icon_arrow_right {
    width: 10px;
    height: 16px;
}

.icon_arrow_left {
    width: 44px;
    height: 44px;
    /*transform: rotate(180deg);*/
}

.icon_top {
    width: 41px;
    height: 41px;
}

.topic-icons {
    margin: 0 0.25rem 0 0;

    .icon {
        height: 16px;
        width: 16px;
        display: block;
    }
}

.icon-youtube {
    width: 60px;
    height: 60px;
    color: #ff0000;
}

.download-button-icon {
    width: 20px;
    height: 20px;
}

.menu-icon {
    width: 15px;
    height: 15px;
}
