.icon {
  width: 24px;
  height: 24px;
}

.guest-book-icon {
  height: 22px;
  width: 22px;
}

.icon-chevron-bottom {
  height: 10px;
  width: 10px;
}


.icon_arrow_right {
  width: 10px;
  height: 16px;
}

.icon_arrow_left {
  width: 44px;
  height: 44px;
  /*transform: rotate(180deg);*/
}

.icon_top {
  width: 41px;
  height: 41px;
}