.post-item {
    background: #ffffff;
    padding: 0.6rem 1rem;
}

.post-header {
    .user-login {
        color: #7d4e3c;
        font-size: 1.1rem;
        font-weight: 300;
    }

    .post-date {
        font-size: 0.75rem;
        color: #252422;
        font-weight: 300;
        line-height: 2;
    }
}

.user-avatar {
    position: relative;

    .avatar-image {
        width: 100px;
        height: 100px;
    }

    .user-status {
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        bottom: -8px;
        left: 42px;

        &.online {
            background: #4dec6b;
        }

        &.offline {
            background: #cd2828;
        }
    }
}

.post-actions {
    font-size: .75rem;

    .btn-sm {
        padding: 0.1rem 0.3rem;
    }
}

.post-footer {
    .user-ip {
        color: #252422;

        a {
            text-decoration: underline;
        }

    }

    .useragent {
        color: #726e69 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }
}
