.forum-section {

}

.section-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    line-height: 1.2;

    .badge {
        font-size: 0.8rem;
        opacity: 0.8;
    }

    .toggle {
        .icon {
            transition: all 0.2s;
            width: 20px;
            height: 20px;
        }
    }

    &[aria-expanded="true"] {
        .toggle {
            .icon {
                transform: rotate(-180deg);
            }
        }
    }

}

.section-name {

}
