.btn-info {
  --bs-btn-color: var(--bs-white);
}

.btn-outline-info {
  &:hover {
    color: var(--bs-white);
  }
}

.btn-lg-icon {
  .icon {
    width: 25px;
    height: 31px;
  }
}

.btn__top {
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.btn__transparent {
  background: transparent;
}

.btn {
  &:disabled {
    cursor: not-allowed;
  }

  &.liked {
    color: #036a0c;
  }

  &.disliked {
    color: #ff0000;
  }
}

.btn-secondary {
  --bs-btn-color: var(--bs-white);
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  padding-right: var(--btn-with-icon-right-padding, 20px);

  ion-icon {
    min-width: var(--btn-icon-size, 18px);
    font-size: var(--btn-icon-size, 18px);
    margin-right: var(--btn-icon-right-margin, 7px);
  }
}
