@media (max-width: 500px) {
    .pagination {
        span.page-link {
            display: none;
        }
        .page-link {
            font-size: 0.7rem;
            padding: 0.5rem 0.5rem;
        }
        .active {
            .page-link {
                display: block;
            }
        }
    }
}

.pagination-no-padding {
    .pagination {
        margin-bottom: 0;
    }
}
