a:active{ text-decoration: none; color: #0a0; }

body{
	font-family: arial;
	font-size: 12px;
	color: #505050;
	background-color: #fff;
}

hr{ margin: 0; border: 0; border-top: 1px solid #84C225; }

a:link,a:visited,a:hover{ text-decoration: none; color: #2C75B1; }

.c{ background-color: #f3f3f3; }

.footer{ color: #fff; background-color: #84C225; height: 17px; }

.footer a:link,.footer a:visited{ color: #fff; }

.header{ background-color: #84C225; height: 28px; color: #fff; }

.maintxt{ font-weight: normal; font-size: 8pt; }

.menu,.b,.e{ background-color: #fff; }

.status{ color: #DAA520; }
.phdr{
	background-color: #dbf2b9;
	padding: 3px 0px 3px 2px;
}
.bmenu{
	background-color: #dbf2b9;
	padding: 3px 0px 3px 2px;
}